@import './variables';
@import './navigation';


html body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    background-color: $background;
    margin: 0;
    
}