@import './variables';
@import './navigation';
@import './post-masonary';
@import './home';

html body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    margin-top: 0;
    background-color: $background;
    font-size: 2rem;
    
    
}

.container {
    max-width: 1200px;
    
}

.row {
    margin: 4em 24px;
}

.overlay::before {
    z-index: 1;
    content:  '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.6) 100%);
}